

@model IEnumerable<Movies>


    <div>
       
        <form action="MovieNight" method="post">
            <h2>Search for Movies!</h2>
            <p>
                Movie 1<br />
                <input type="text" name="Title1" required />
            </p>
            <p>
                Movie 2<br />
                <input type="text" name="Title2" required />
            </p>
            <p>
                Movie 3<br />
                <input type="text" name="Title3" required />
            </p>
            <br />
            <input type="submit" class="btn btn-primary" value="Search Movies!" />
        </form>
    </div>


    @try 
    {
    foreach (Movies m in Model)
    {
        <br />
        <div>
            <h2>@m.Title</h2>
            <img src= @m.Poster width=250/>
            <p>Year: @m.Year</p>
            <p>Rated: @m.Rated</p>
            <p>Released: @m.Released</p>
            <p>Runtime: @m.Runtime</p>
            <p>Genre: @m.Genre</p>
            <p>Director: @m.Director</p>
            <p>Writer: @m.Writer</p>
            <p>Actor: @m.Actors</p>
            <p>Plot: @m.Plot</p>
            <p>Language: @m.Language</p>
            <p>Country: @m.Country</p>
            <p>Awards: @m.Awards</p>
            
            @foreach (Rating r in m.Ratings)
            {
                <p>Rating: @r.Source</p>
                <p>Value: @r.Value</p> 
            }
            <p>Metascore: @m.Metascore</p>
            <p>imdbRating: @m.imdbRating</p>
            <p>imdbVotes: @m.imdbVotes</p>
            <p>imdbID: @m.imdbID</p>
            <p>Type: @m.Type</p>
            <p>DVD: @m.DVD</p>
            <p>BoxOffice: @m.BoxOffice</p>
            <p>Production: @m.Production</p>
            <p>Website: @m.Website</p>
            <p>Response: @m.Response</p>
        </div>
    }
    }
    catch (NullReferenceException)
    {
  
    }

